:root {
    --background-color: #fefefc;
    --brown: #886f60;
    --light-brown: #f8f2e8;
    --nav-font-color: #4d4b45;
    --light-border-color: #e9e5ce;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */
html {
    /* font: 16px/1.5 'Times New Roman', Times, serif; */
    font: 16px/1.5 'EBGaramond', serif;
}

body,
input,
textarea,
table {
    font: inherit;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}


/* theme */
body {
    background-color: var(--background-color);
    min-height: 100dvh;
}


ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.img-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ul>li>a { */
a {
    text-decoration: none;
    color: inherit;
}








div.notification-container {
    background-color: var(--brown);
    color: white;
    text-align: center;
    padding: 0.3em;
}


/* header styles */
header {
    padding: 1em 12em 0.5em 12em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-border-color);
}

div.logo-and-nav-container {
    display: flex;
}

a.logo {
    width: 160px;
    margin-right: 2.2em;
}

nav ul {
    display: flex;
    gap: 1.2em;
    color: var(--nav-font-color);
    font-size: 1.1em;
}



/*feature-container styles*/
div.feature-container {
    padding: 1.5em 7.5em;
    display: flex;
    gap: 3em;
    /* justify-content: space-between; */
}

div.feature-container .img-container {
    max-width: 850px;
    /* width: 860px; */
    /* height: 580px; */
    overflow: hidden;
}

div.feature-container h2 {
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

div.feature-container p {
    font-size: 1.1em;
    width: 45ch;
    opacity: 0.8;
}

div.feature-container a.btn {
    background-color: var(--brown);
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.6em 4em;
    border-radius: 0.3em;
}

div.feature-container div.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.feature-container div.info {
    padding-bottom: 3.5em;
}



/* tea-types-container styles */
div.tea-types-container {
    padding: 1em 12.5em;
    display: flex;
    gap: 1.8em;
}

div.tea-types-container .img-container {
    width: 545px;
    height: 335px;
    margin-bottom: 1.5em;
}

div.tea-types-container img {
    position: center;
}

div.tea-types-container h4 {
    font-weight: normal;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

div.tea-article-container p {
    width: 62ch;
    font-size: 1.06em;
    opacity: 0.8;
}



/* about-container styles */
div.about-container {
    border: 2px solid var(--light-border-color);
    max-width: 48%;
    margin: 3.5em auto;
    text-align: center;
    padding: 3.5em;
    /* border-image: url(images/fancy-corner.svg) 30; */
}

div.about-container h3 {
    font-size: 1.7em;
    font-weight: normal;
}

div.about-container p {
    font-size: 1.07em;
    opacity: 0.7;
    padding: 0.5em 2em;
}





footer {
    padding: 5rem 10rem 3rem 10rem;
    background-color: var(--light-brown);
}