:root {
    --background-color: #fefefc;
    --brown: #886f60;
    --light-brown: #f8f2e8;
    --nav-font-color: #4d4b45;
    --light-border-color: #e9e5ce;
    --greenish-border-color: #c0b272;
    --grey: #999999; 
    --font-color: #40403f;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typography */
html {
    /* font: 16px/1.5 'EBGaramond', serif; */
    font-size: clamp(12px, 3vw, 16px);
    font-family: 'EBGaramond', serif;
}

body,
input,
textarea,
table {
    font: inherit;
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}


/* theme */
body {
    background-color: var(--background-color);
    min-height: 100dvh;
}


ul,
ol {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.img-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a.btn {
    background-color: var(--brown);
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 0.6em 4em;
    border-radius: 0.3em;
}








div.notification-container {
    width: 100vw;
    background-color: var(--brown);
    color: white;
    text-align: center;
    padding: 0.3em;
}


/* header styles */
header {
    /* padding: 1em 12em 0.5em 12em; */
    padding: 1vw 12.5vw 0.5vw 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-border-color);
}

header div.hamburger-menu-container {
    display: none;
}

div.logo-and-nav-container {
    display: flex;
}

a.logo {
    width: 160px;
    margin-right: 2.2em;
}

nav ul {
    display: flex;
    gap: 1.5em;
    color: var(--nav-font-color);
    font-size: 1.05em;
}

header div.icon-links {
    display: flex;
    gap: 1.5em;
}



div.responsive-nav-container {
    display: none;
}



/*feature-container styles*/
div.feature-container {
    /* padding: 1.5em 7.5em; */
    padding: 1.5vw 8vw;
    display: flex;
    gap: 3em;
}

div.feature-container .img-container {
    /* max-width: 850px; */
    max-width: 55vw;
    /* width: 860px; */
    /* height: 580px; */
    overflow: hidden;
    position: relative;
}

div.feature-container .img-container img.red-stamp {
    position: absolute;
    z-index: 1;
    top: 25px;
    right: 25px;
    /* max-width: 45px; */
    max-width: 6vw;
}

div.feature-container h2 {
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

div.feature-container p {
    font-size: 1.1em;
    max-width: 45ch;
    opacity: 0.8;
}

div.feature-container div.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.feature-container div.info {
    padding-bottom: 3.5em;
}



/* tea-types-container styles */
div.tea-types-container {
    /* padding: 1em 12.5em; */
    padding: 1vw 13vw;
    display: flex;
    gap: 1.8vw;
    justify-content: center;
}

div.tea-types-container .img-container {
    max-width: 550px;
    max-height: 335px;
    margin-bottom: 1.5em;
}

div.tea-types-container img {
    position: center;
}

div.tea-types-container h4 {
    font-weight: normal;
    font-size: 1.3em;
    padding-bottom: 0.5em;
}

div.tea-article-container p {
    width: 62ch;
    font-size: 1.06em;
    opacity: 0.8;
}



/* about-container styles */
div.about-container {
    /* max-width: 47vw; */
    max-width: 720px;
    margin: 3.5em auto;
    text-align: center;
    padding: 4em 2em;
    position: relative;
}

div.about-container div.corner {
    max-width: 65px;
    width: 65px;
    max-height: 65px;
    height: 65px;
    background-image: url(images/fancy-corner.svg);
    position: absolute;
    display: block;
}

div.about-container div.corner.top-left {
    top: 0;
    left: 0;
}

div.about-container div.corner.top-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

div.about-container div.corner.bottom-left {
    bottom: 0;
    left: 0;
    transform: rotate(270deg);
}

div.about-container div.corner.bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

div.about-container img.red-stamp-square {
    position: absolute;
    left: 5em;
    bottom: -1.5em;
}

div.about-container h3 {
    font-size: 1.7em;
    font-weight: normal;
}

div.about-container p {
    font-size: 1.07em;
    opacity: 0.7;
    padding: 0.5em 2em;
}




/* best-sellers-container styles */
div.best-sellers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    padding-left: 6em;
    padding-right: 6em;
}

div.best-sellers-container h4 {
    font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 1.2em;
}

div.best-sellers-container ul {
    display: flex;
    font-size: 1.3em;
    opacity: 0.7;
    gap: 1em;
    margin-bottom: 1.8em;
}

div.best-sellers-container ul li.active {
    border-bottom: 1px solid var(--brown);
}

div.best-sellers-container div.items-container {
    display: flex;
    gap: 1.8em;
    text-align: center;
    justify-content: center;
}

div.best-sellers-container div.item {
    max-width: 240px;
}

div.best-sellers-container div.items-container div.img-container {
    margin-bottom: 0.8em;
    max-width: 240px;
    max-height: 280px;
}

div.best-sellers-container div.items-container div.hover-img {
    display: none;
}

div.best-sellers-container div.items-container div.item:hover div.img-container {
    display: none;
}

div.best-sellers-container div.items-container div.item:hover div.hover-img {
    display: block;
}

div.best-sellers-container div.items-container h4.tea-name {
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

div.best-sellers-container div.items-container p.tea-description {
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.6;
    font-stretch: extra-condensed;
    max-width: 25ch;
    margin-bottom: 0.3em;
}

div.best-sellers-container div.items-container p.price {
    font-size: 1.1em;
    color: #837652;
}




/*  */
div.perfect-tea-quiz-wrapper {
    position: relative;
    max-width: 80%;
    border-top: 1px solid var(--greenish-border-color);
    margin: 1em auto;
    padding-top: 4.5em;
    margin-top: 5em;
}

div.perfect-tea-quiz-wrapper img.fancy-ornament {
    position: absolute;
    top: -32.5px;
    left: 45%;
}

div.perfect-tea-quiz {
    text-align: center;
    max-width: 55%;
    margin: 1em auto;
}

div.perfect-tea-quiz div.images-container {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    margin-bottom: 2.5em;
}

div.perfect-tea-quiz div.images-container div.img-container {
    max-width: 95px;
}

div.perfect-tea-quiz h4 {
    font-weight: normal;
    font-size: 1.65em;
    margin-bottom: 0.8em;
}

div.perfect-tea-quiz p {
    font-size: 1.1em;
    color: var(--font-color);
    opacity: 0.9;
    padding: 0 5.5em;
    margin-bottom: 1.8em;
}

div.perfect-tea-quiz a.btn {
    padding: 0.6em 2em;
    border-radius: 0.2em;
}



/* tea-brewing-container styles */
div.tea-brewing-container {
    padding: 3em 12em 8em 12em;
    justify-items: center;
}

div.tea-brewing-container h3 {
    text-align: center;
    font-weight: normal;
    font-size: 1.65em;
    margin-bottom: 1.2em;
}

div.tea-brewing-container div.items-container {
    display: flex;
    gap: 1.2em;
}

div.tea-brewing-container div.items-container h4.item-name {
    font-weight: normal;
    padding-bottom: 0.6em;
    padding-top: 0.5em;
}

div.tea-brewing-container div.items-container p {
    font-size: 1.05em;
    opacity: 0.8;
}

div.tea-brewing-container div.items-container div.img-container {
    max-width: 560px;
    max-height: 370px;
}

div.tea-brewing-container div.items-container img.long-img {
    height: 370px;
    object-fit: cover;
}





div.accessibility {
    max-width: 45px;
    max-height: 45px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    bottom: 18px;
    left: 18px;
}

div.accessibility:hover {
    transform: scale(1.15);
}






footer {
    padding: 5rem 10rem 3rem 10rem;
    background-color: var(--light-brown);
    position: relative;
}

footer img.red-stamp {
    position: absolute;
    right: 7.8em;
    top: -2em;
}

footer div.upper-footer-container {
    display: flex;
    padding-bottom: 3.5em;
    gap: 5em;
    border-bottom: 1px solid var(--light-border-color);
}

footer div.about-footer-container {
    max-width: 30%;
}

footer div.about-footer-container>div {
    display: flex;
    margin-bottom: 1em;
}

footer div.about-footer-container>div>h3 {
    font-weight: normal;
    font-size: 1.7em;
    margin-left: 0.8em;
}

footer div.about-footer-container>p {
    font-size: 1.05em;
    margin-bottom: 1em;
}

footer div.about-footer-container form {
    position: relative;
}

footer div.about-footer-container label {
    display: none;
}

footer div.about-footer-container input {
    border: none;
    padding: 0.5em 1em;
    max-width: 100%;
    width: 100%;
}

footer div.about-footer-container input::placeholder {
    color: black;
    font-style: italic;
    font-size: 1.1em;
}

footer button.icon-btn {
    position: absolute;
    top: 12px;
    right: 5%;
    background-color: transparent;
    border: none;
    color: var(--grey);
    font-size: 0.7em;
}

footer div.footer-nav {
    display: flex;
    max-width: 65%;
}

footer div.footer-nav ul.footer-nav-links {
    display: flex;
    gap: 6.5em;
    flex-wrap: wrap;
}

footer div.footer-nav ul.footer-nav-links h4 {
    font-weight: normal;
    font-size: 1.4em;
    margin-bottom: 1em;
}

footer div.footer-nav ul.footer-nav-links>li>ul {
    display: flex;
    flex-direction: column;
}

footer div.footer-nav ul.footer-nav-links>li>ul>li {
    font-size: 1.1em;
    padding-bottom: 0.5em;
}

footer div.rights-reserved-and-policies-container {
    display: flex;
    padding-top: 1.6em;
}

footer div.rights-reserved-and-policies-container p,
footer ul.policies-nav-links {
    font-size: 0.65em;
    opacity: 0.6;
    display: flex;
}

footer div.rights-reserved-and-policies-container ul.policies-nav-links li {
    padding: 0 1em;
}

footer div.rights-reserved-and-policies-container ul.policies-nav-links li:not(:last-of-type) {
    border-right: 2px solid rgba(0, 0, 0, 0.6);
}

footer>p>a:hover {
    color: black;
    opacity: 1;
}





/* responsive */
@media screen and (max-width: 989px) {

    /* header */
    header {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    header div.hamburger-menu-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header div.hamburger-menu {
        border: 1px solid var(--brown);
        width: 20px;
    }

    header a.logo {
        margin-left: 6em;
    }

    header nav ul.nav-links {
        display: none;
    }



    div.responsive-nav-container {
        display: block;
        justify-items: center;
    }

    div.responsive-nav-container ul {
        display: flex;
        gap: 0.6em;
    }

    div.responsive-nav-container ul li {
        padding: 0.5em 0.7em;
        border: 1px solid var(--light-border-color);
        border-radius: 0.3em;
        margin-top: 0.5em;
    }


    /* feature */
    div.feature-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2em;
        margin-bottom: 2em;
    }

    div.feature-container .img-container {
        max-width: 80vw;
    }

    div.feature-container p {
        max-width: 80vw;
    }


    /* tea-types-container */
    div.tea-types-container {
        /* max-width: 80vw; */
        padding-left: 4vw;
        padding-right: 4vw;
        gap: 3vw;
        justify-content: space-between;
    }

    div.tea-types-container .img-container {
        max-width: 45vw;
        aspect-ratio: 2/1.3;
    }

    div.tea-article-container p {
        max-width: 45vw;
    }


    /* about-container */
    div.about-container {
        max-width: 720px;
        margin-left: 40px;
        margin-right: 40px;
        justify-self: center;
    }


    /* best-sellers-container */
    div.best-sellers-container {
        padding-left: 3em;
        padding-right: 3em;
        flex-wrap: wrap;
    }



    /* perfect-tea */
    div.perfect-tea-quiz-wrapper {
        max-width: 95%;
    }

    div.perfect-tea-quiz {
        max-width: 90%;
    }

    div.perfect-tea-quiz p {
        font-size: 1em;
    }

    div.perfect-tea-quiz {
        max-width: 75ch;
    }



    /* tea-brewing-container */
    div.tea-brewing-container {
        padding-left: 2em;
        padding-right: 2em;
    }

    div.tea-brewing-container div.items-container div.img-container {
        aspect-ratio: 2/1.3;
    }


    footer {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    footer div.about-footer-container {
        max-width: 40%;
    }

    footer div.upper-footer-container {
        gap: 4em;
    }

    footer div.footer-nav ul.footer-nav-links {
        column-gap: 6em;
        row-gap: 3em;
    }

    footer div.footer-nav ul.footer-nav-links>li {
        width: 30%;
    }

    footer div.footer-nav ul.footer-nav-links>li>ul>li {
        padding-bottom: 0.8em;
    }
}




@media screen and (max-width: 750px) {
    /* tea-types-container */


    /* best-sellers-container */
    div.best-sellers-container {
        padding-left: 1em;
        padding-right: 1em;
        flex-wrap: wrap;
    }

    div.best-sellers-container div.items-container {
        gap: 1em;
    }



    /* footer */
    footer img.red-stamp {
        position: absolute;
        left: 22vw;
        top: -2em;
        max-width: 45px;
    }

    footer div.upper-footer-container {
        flex-direction: column;
    }

    footer div.about-footer-container {
        max-width: 90%;
    }

    footer div.footer-nav ul.footer-nav-links {
        column-gap: 8em;
    }

    footer div.footer-nav ul.footer-nav-links>li {
        width: 35%;
    }

    footer div.rights-reserved-and-policies-container {
        display: flex;
        flex-direction: column; 
        gap: 1.5em;
    }
}